# Python and Django
*.swp
*.pyc
*.egg-info
.pydevproject
media/
develop-eggs/
ve/

# JS
node_modules
bower_components
.sass-cache/
npm-debug.log

# Other
*.swo
.DS_Store

# Mote
/repositories/
mote/settings/local*
mote.sqlite3
dist/
