# Python and Django
*.swp
*.pyc
*.egg-info
.pydevproject
media/
develop-eggs/
ve/

# JS
node_modules
bower_components
.sass-cache/
npm-debug.log

# Other
*.swo
.DS_Store
.idea/

# Mote
/repositories/
mote/settings/local*
mote.sqlite3
dist/
mote/static/repositories
**/static/**/generated*statics
**/mote/**/tokens/formats

# Sphinx documentation
docs/_build/

db.sqlite3
.tox
