*.swp
*.pyc
*.egg-info
*.swo
mote.sqlite3
.pydevproject
.project
.installed.cfg
.mr.developer.cfg
bin/
develop-eggs/
media/
parts/
.DS_Store
node_modules
bower_components
ve/
.sass-cache/
npm-debug.log
add_test_users.py
project/settings_local.py
dist/
