{% extends "projects/base.html" %}

{% block content %}
    <h3>{{ object.name }}</h3>
    <ul role="menu" class="horizontal">
        <li role="menuitem"><a href="{{ url("projects:project-update", kwargs={"slug": object.slug}) }}">Update</a></li>
        <li role="menuitem"><a href="{{ url("projects:project-delete", kwargs={"slug": object.slug}) }}">Remove</a></li>
    </ul>
    <br>
    <p>Slug: {{ object.slug }}</p>
    <p>Description: {{ object.description }}</p>
    <p>Created: {{ object.created_on.strftime('%c') }}</p>
    <h3>Repos</h3>
    <ul role="menu" class="horizontal">
        <li role="menuitem"><a href="{{ url("projects:repository-quick-add", kwargs={'slug':object.slug}) }}">Quick add</a></li>
        <li role="menuitem"><a href="{{ url("projects:repository-add", kwargs={'slug':object.slug}) }}">Custom add</a></li>
    </ul>
    <br>
    {% for link in object.repos_link.all() %}
        <p>Name: <a href="{{ url('projects:patterns:aspect-list', kwargs={'slug':object.slug, 'repository':link.slug}) }}">{{ link.name }}</a></p>
        <p>Slug: {{ link.slug }}</p>
        <p>URL: {{ link.repository.fetch_url }}</p>
    {% endfor %}
{% endblock %}
