{% extends "projects/base.html" %}

{% block content %}
    <h3>{{ object.name }}</h3>
    <ul role="menu" class="horizontal">
        <li role="menuitem"><a href="{{ url("projects:project-update", kwargs={"slug": object.slug}) }}">Update</a></li>
        <li role="menuitem"><a href="{{ url("projects:project-delete", kwargs={"slug": object.slug}) }}">Remove</a></li>
    </ul>
    <br>
    <p>Slug: {{ object.slug }}</p>
    <p>Description: {{ object.description }}</p>
    <p>Created: {{ object.created_on.strftime('%c') }}</p>
    <h3>Repos</h3>
    <ul role="menu" class="horizontal">
        <li role="menuitem"><a href="{{ url("projects:repository-quick-add", kwargs={'slug':object.slug}) }}">Quick add</a></li>
        <li role="menuitem"><a href="{{ url("projects:repository-add", kwargs={'slug':object.slug}) }}">Custom add</a></li>
    </ul>
    <br>
    {% for link in object.repos_link.all() %}
        <h4>{{ link.name }}</h4>
        <ul role="menu" class="horizontal">
            <li role="menuitem"><a href="">Sync worktrees</a></li>
            <li role="menuitem"><a href="">Add worktree</a></li>
        </ul>
        <br>
        <ul>
            {% for wt in link.repository.worktrees.all() %}
                <li>
                    <p>Branch: <a href="{{ url('projects:patterns-branch:aspect-list', kwargs={'slug':object.slug, 'repository':link.slug, 'branch':wt.branch}) }}">{{ wt.branch }}</a></p>
                    <ul role="menu" class="horizontal">
                        <li role="menuitem"><a href="{{ url('projects:repositories:worktree-update', kwargs={'slug':object.slug, 'repository':link.slug, 'pk':wt.id}) }}">Update</a></li>
                        <li role="menuitem"><a href="{{ url('projects:repositories:worktree-pull', kwargs={'slug':object.slug, 'repository':link.slug, 'pk':wt.id}) }}">Pull</a></li>
                    </ul>
                    <br>
                    <p>Type: {{ wt.pattern_engine }}</p>
                    <p>Ready: {{ wt.ready }}</p>
                    <p>Default: {{ wt.default }}</p>
                    <p>Last Pull: {{ wt.updated_on.strftime('%c') }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
