<div class="sg-wrapper" id="{{ name }}">

    <!-- @State: Work in Progress -->
    <!-- @Reason: Newly created pattern -->

    <h2>_PATTERN_NAME {% include "mote/link_out.html" with name=name %}</h2>

    <ul class="tags">
        <li class="tag-warning">
            Needs Refactoring
            <div class="tooltip">
                This is why the pattern needs refactoring.
            </div>
        </li>
        <li class="tag-success">
            Production Ready
            <div class="tooltip">
                This is why the pattern needs is production ready.
            </div>
        </li>
        <li class="tag-danger">
            Deprecated
            <div class="tooltip">
                This is why the pattern is deprecated.
            </div>
        </li>
        <li class="tag-info">
            Work in Progress
            <div class="tooltip">
                This is why the pattern is work in progress.
            </div>
        </li>
    </ul>

    <p>_PATTERN_DESC</p>

    {% include "mote/iframe_container.html" with name=name %}

    <hr>

    <h3>Usage <a class="sg-hidden-area-toggler off" href="#typography-font-families"><span class="off-text">Show</span><span class="on-text">Hide</span></a></h3>

    <div id="typography-font-families" class="sg-hidden-area hide">
        <div class="sg-code-block">
            <h4 class="title">A Note on &lt;br/&gt; Tags</h4>
            <div class="description">
                To encourage correct usage, and provide greater control over their behaviour these tags have no behaviour by default, and not more than one will take effect if used multiple times. To use a break tag, apply one of the <a href="atoms#mote_helper-classes">block helper classes. (eg: .block-until-alpha)</a>.
            </div>
            <div class="code-example">
    <pre>
        <code class="language-css">
            <xmp>
br {
    display: none; // By default, breaks will do nothing unless paired with a .block-___-___ helper class - which ensures content flow isn't hampered where the break is uncessesary.
}

br + br {
    display: none !important; // Prevent misuse of break tags for mutli-line separation.
}
            </xmp>
        </code>
    </pre>
    <pre>
        <code class="language-markup">
            <xmp>
<!-- Encouraged usage of break tags -->
<br class="block-within-gamma" />
            </xmp>
        </code>
    </pre>
            </div> <!-- code-example -->
        </div> <!-- sg-code-block -->
    </div> <!-- sg-hidden-area -->

</div>

<script>
   getState('{{ name }}');
</script>
