$toolbar-height: rem(35);
$toolbar-padding: ($vertical-rhythm-unit * .75);

.toolbar {
    @include container;
    padding: $toolbar-padding $site-gutter;
    border-top: 1px solid $color-grey-light;
    background-color: $color-grey;
    z-index: 20;

    .toolbar-version-picker {
        @include span(2);
    }

    .toolbar-breakpoint-picker {
        @include span(10);
        @include last;
        line-height: $toolbar-height;
    }

    select {
        appearance: none;
        height: $toolbar-height;
        margin-right: rem(30);
        padding-right: rem(15);
        padding-left: rem(5);
        border: 0;
        border-bottom: 1px solid $color-grey-light;
        border-left: 1px solid $color-grey-light;
        border-radius: 0;
        background-position: 90% 50%;
        background-size: rem(10) auto;
        color: $color-grey-lightest;
    }

    input {
        width: 4rem;
        height: $toolbar-height;
        margin-left: rem(30);
        padding-left: rem(5);
        border: 0;
        border-bottom: 1px solid $color-grey-light;
        border-left: 1px solid $color-grey-light;
        background-color: $color-grey-dark;
        color: $color-grey-lightest;
    }

    button {
        height: $toolbar-height;
        padding: rem(0) rem(10);
        transition: all .2s ease-in-out;
        border: 0;
        background-color: $color-primary-1;
        color: $color-white;
        font-size: rem(12);

        &.disabled {
            pointer-events: none;
            background-color: $color-grey-lighter;
        }

        &:hover {
            background-color: $color-grey-lighter;
        }
    }

    .button-set {
        float: right;
    }
}

.sidebar-search {
    margin-bottom: $site-gutter;

    [type="search"] {
        width: 100%;
        height: 1.5rem;
        padding: rem(5);
    }

    .search-results {
        width: 100%;
        margin-top: $vertical-rhythm-unit;
        padding: 20px;
        border-bottom: 1px solid $color-grey-lighter;
    }

    .selected {
        a {
            color: $color-primary-1;
        }
    }
}
