<!doctype html>

<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ static('css/fonts.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static('css/mote.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static('js/libs/prism/css/prism.css') }}"/>
    <script src="{{ static('js/libs/jquery/js/jquery.js') }}"></script>
    <script src="{{ static('js/libs/sticky-kit/js/jquery.sticky-kit.js') }}"></script>
    <script src="{{ static('js/libs/prism/js/prism.js') }}"></script>
    <script src="{{ static('js/libs/hideseek/js/jquery.hideseek.js') }}"></script>
    <script src="{{ static('js/libs/lazysizes/js/lazysizes.js') }}"></script>
    <script src="{{ static('js/mote.js') }}"></script>

</head>
<body>

    {% block header %}
    <header role="banner">
        <div class="wrapper">
            <a href="" class="logo">
                <img src="{{ static('img/logo.png') }}" alt="" />
            </a>
            {% import 'library/patterns/molecules.html' as molecules %}
            {% set nav_items = [{'url': url('projects:project-list'), 'name': 'Projects'},] %}
            {{ molecules.menu(nav_items) }}
        </div>
    </header>
    {% endblock %}

    <section role="section" class="hero">
        <div class="wrapper">
            {% block hero %}
            {% endblock %}
        </div>
    </section>

    <main role="main">
        <div class="wrapper">
            <aside role="sidebar">

                {% if active_category %}

                    <form class="sidebar-search">
                        <input type="search" placeholder="Search pattern library">
                        <div class="search-results">
                            <ul role="menu" class="search-list vertical">

                                {% for dict in menu_items %}
                                    {% for category, items in dict.items %}
                                        {% for item in items %}

                                        <li role="menuitem">
                                            <a href="" class="">{{ category }} - {{ item }}</a>
                                        </li>
                                        {% endfor %}

                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </form>
                {% endif %}

                {% block menu %}
                {% endblock %}

            </aside>

            <section role="section">
                {% block content %}
                {% endblock %}
            </section>

        </div>
    </main>

</body>
</html>

<script src="{{ static('js/animations.js') }}"></script>
