{% extends "base.html" %}

{% load staticfiles %}

{% block hero %}
    {% if intro %}
        {{ intro|safe }}
    {% endif %}
{% endblock %}

{% block menu %}
    <ul role="menu" class="vertical tier-1" id="sidebar-nav">
        {% for pattern in patterns %}
            <li role="menuitem">
                {% url 'projects:patterns:pattern-list' project_slug=base_url_kwargs.project_slug repository_slug=base_url_kwargs.repository_slug aspect_slug=base_url_kwargs.aspect_slug kind=pattern as the_url%}
                <a href="{{ the_url }}" {% if pattern == kind %} class="active"{% endif %}>{{ pattern }}</a>
                {% if pattern == kind %}
                    <ul role="menu" class="vertical tier-2">
                        {% for element in elements %}
                        <li role="menuitem">
                            <a href="{{ the_url }}#element-{{ element.name }}">{{ element.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    {% for element in elements %}
        <a name="element-{{ element.name }}">&nbsp;</a>
        {{ element.index|safe }}
    {% endfor %}
{% endblock %}
